<h1 class="mid infoh1">About us</h1>
<p class="mid infop">Crick@ brings together Technology & Sport in hopes of actually connecting people through Internet</p>
<div class="row">

<div class="col-lg-4 mid">
  <p class="mid infop1">Support us by sponsoring</p>
</div>
<div class="col-lg-4 mid">
  <p class="mid infop1">Share our site with your friends</p>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A4446%2F&layout=button_count&size=large&mobile_iframe=true&appId=2161976784064530&width=83&height=28" width="83" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <div class="g-plus" data-action="share" data-height="24"></div>
</div>
<div class="col-lg-4 mid">
  <p class="mid infop1">become a Patron & Earn</p>
</div>
</div>
<div class="row">
  <h1 class="infoh1 mid">Future Projects</h1>
  <div class="col-lg-12">
    <h1 class="mid projc">Project SportsVille</h1>
      <p class="infop mid">Turning our focus more into traditional sports of native origins</p>
      <p class="infop1 mid">island has many sports form which are interesting yet not passed onto next generation due to urbanization</p>
    </div>
      <img class="fitit" src="http://2.bp.blogspot.com/-H-DJfzwl4VA/TopU8qplgvI/AAAAAAAAj18/vUJSDCW4W8E/s1600/mission-dosti-4.jpg" alt="deals">
  <br>
  <div class="col-lg-12">
    </div>
      <img class="fitit" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Sadugudu_sadugude.jpg" alt="new deals">
  <br>
  <div class="col-lg-12">
    </div>
      <img class="fitit" src="https://i.ytimg.com/vi/CifWcTKJA7A/maxresdefault.jpg" alt="">
      <br>

</div>
