<div class="col-lg-4">
  <h2 class="mid pulldown">Contact Info</h2>

  <p class="mid">+44769284985</p>
  <p class="mid">221B, Baker Street, England</p>
  <p class="mid"><a href="#">Zherlog@holmes.info</a></p>
</ul>
</div>
<div class="col-lg-8">

<form action="#" method="post">
  <h2 class="mid">Leave us a message</h2>
  <input class="form-control" type="text" placeholder="Name" name="name" required="">
  <br>
  <input class="form-control" type="email" placeholder="Email" name="email" required="">
  <br>
  <input class="form-control" type="text" placeholder="Subject" name="subject" required="">
  <br>
  <textarea class="form-control" placeholder="Message.." name="message" required=""></textarea>
  <br>
  <input class="form-control btn btn-success" type="submit" value="Send Now">
  <br><br>
</form>
</div>
