<div id="forum-root" class="colored-row container">
  <br>
  <p class="mid">Add a post below, if you like</p>
  <input type="text" class="form-control" placeholder="Title">
  <br>
  <textarea placeholder="Body" class="form-control" rows="8" cols="50"></textarea>
  <br>
  <div class="col-sm-6">
    <input type="reset" class="btn btn-danger form-control" value="Clear">
  </div>
  <div class="col-sm-6">
    <input type="submit" class="btn btn-success form-control" value="Share Post">
  </div>
  <br><br><br>
</div>
