<div class="row">
  <div class="col-lg-12" style="background-color:black;">
    <form class="" action="/fix" method="get">
      <input type="date" id="datepicker" value="">
    </form>
  </div>
</div>
