<div class="containerx">

<h5>Team Name ::</h5>
<input id="homet" type="text" disabled value="{{team.team_name}}">
<br>
<br>
  <form>

  <div class="col-lg-12">
      <input class="form-control" id="datus" onchange="getallteams()" type="date">
      <br>
      <select class="hidden form-control" id="teams"></select>
      <div class="col-lg-6">
        <br>
        <br>
        <button type="button" class="hidden form-control" id="btn"></button>
        <br>
      </div>
  </div>
  <br>
  <br>
  <select class="hidden form-control" id="locations">
  </select>
  <div class="col-lg-12 mid">
    <div id="selection-section">
      <br>
    </div>
    <div id="match_fixed">
      <br>
    </div>
    <br><br>
  </div>
</form>
</div>
