</div>
</div>
</div>
<div class="viewer_container">
  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <!-- <div class="numbertext">1 / 3</div> -->
      <img src="https://wallpaperbrowse.com/media/images/110826.jpg" style="width:100%">
      <div class="text">Play!!</div>
    </div>

    <div class="mySlides fade">
      <!-- <div class="numbertext">2 / 3</div> -->
      <img src="https://i.pinimg.com/originals/ec/a9/bc/eca9bc66952302ac2490394272e5759a.jpg" style="width:100%">
      <div class="text">Play!!</div>
    </div>

    <div class="mySlides fade">
      <!-- <div class="numbertext">3 / 3</div> -->
      <img src="http://www.desktop-screens.com/data/out/112/3520283-tennis-wallpapers.jpeg" style="width:100%">
      <div class="text">Play Play!!</div>
    </div>

    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a> -->
    <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
  </div>
  <br>


  <!-- The dots/circles -->
  <!-- <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
<br>
<h1 class="h1text">Welcome to Our Website </h1>
<div class="col-lg-4">
  <h1 class="h2text"><b>Play</b> any match you want here</h1>
</div>
<div class="col-lg-4">
  <h1 class="h2text"><b>Challenge</b> Your Friends, Play with Them</h1>
</div>
<div class="col-lg-4">
  <h1 class="h2text"><b>Share</b> and have fun with friends</h1>
</div>
<div class="row row-top-15">
  <div class="col-lg-8 mid">
    <h2>Recent News updates</h2>
  </div>

  <div class="col-lg-4 mid">
    <h3>Current Challenges</h3>
  </div>
</div>
</div>





<!-- Never put anything beyond this line -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
