<br>
<label class="mid" id="tname" style="background-color:black; color:white;">Matches</label>
<!-- Repeting  -->
<div class="row">
  <div id="MatchesforYou" class="col-sm-6 mid">
    <div class="container">

      <br>
      <h3 class="mid">Arranged by You</h3>

    </div>
  </div>
  <div id="MatchesByYou" class="col-sm-6 mid">
    <div class="container">

      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<!-- Repeting -->
