<br>
  <label class="mid" id="tname" style="background-color:black; color:white;">Matches</label>
  <!-- Repeting  -->
  <div class="row">

  <div id="MatchesforYou" class="col-lg-6 mid">
    <br>
    <h3 class="mid">Arranged by You</h3>
    <!-- <div class="col-lg-6 mid">
      time
    </div>
    <div class="col-lg-6 mid">
      date
    </div>
    <br>
    <br>
    <div class="col-lg-12 mid">
      Ground
    </div>
    <br>
    <br>

    <div class="col-lg-4 mid">
      Home
    </div>
    <div class="col-lg-4 mid">
      VS
    </div>
    <div class="col-lg-4 mid">
      Away
    </div> -->
  </div>
  <div id="MatchesByYou" class="col-lg-6 mid">
    <br>
    <br>
    <br>
  </div>
</div>
  <!-- Repeting -->
