<input class="btn btn-info form-control" id="homet" type="text" disabled value="{{team.team_name}}">
<br>
<label class="mid" id="tname" style="background-color:black; color:white;">Matches</label>
<input id="nextit" type="button" class="col-sm-3 mid btn btn-danger" value="See Match others Arranged" onclick="changeit()">
<input id="previt" type="button" class="col-sm-3 mid btn btn-danger" value="See Match You Arranged" onclick="changeit2()">
<!-- Repeting  -->
<div class="container">
  <br>
  <h3 class="mid">Arranged by You</h3>
  <div class="row pushin" id="MatchesforYou"></div>
  <div id="MatchesByYou" class="row pushin"></div>
</div>
<!-- Repeting -->
