<div class="col-sm-10 mid">

<br><h2 class="page-header">Register</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">
      {{msg}}
    </div>
  {{/each}}
{{/if}}

<form action="/users/register" method="post">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label>Team name</label>
        <input type="text" class="form-control" placeholder="Please Type a team name" name="team_name" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Team location</label>
        <input type="text" class="form-control" placeholder="Area" name="location" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Origin Date</label>
        <input type="date" class="form-control" placeholder="Date" name="dot" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Manager name</label>
        <input type="text" class="form-control" placeholder="Name of Manager" name="name_manager" required>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Manager number</label>
        <input type="text" class="form-control" placeholder="Phone number of Manager" name="num_manager">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Manager mail</label>
        <input type="email" class="form-control" placeholder="Mail address of Manager" name="mail_manager">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password for the account" name="password" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" class="form-control" placeholder="Retype the password" name="password2" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Captain Name</label>
        <input type="text" class="form-control" placeholder="Team Manager" name="name_captain" required>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Captain Number</label>
        <input type="text" class="form-control" placeholder="Retype the password" name="num_captain">
      </div>

    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Captain Email</label>
        <input type="email" class="form-control" placeholder="Retype the password" name="mail_captain">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 left">
      <button type="reset" class="form-control btn btn-danger">clear</button>
    </div>
    <div class="col-sm-3 right">
      <button type="submit" class="form-control btn btn-success">Register</button>
    </div>

  </div>
  <br>
  <br>
</form>
</div>
