<br>
<!-- Repeting  -->
<div class="">
  <div id="MatchesforYou" class="col-sm-12">
    <h3 class="mid" style="margin-bottom:2%;">Arranged by You</h3>
    <div class="row">

      <br>

      <div class="tablet col-sm-3">
        <div class="title mid">
          <p>Home Team VS Away Team</p>
          <p>Time __ Date</p>
          <button type="button" class="btn btn-danger" name="button">Not Confirmed</button>
        </div>
      </div>


      <div class="tablet col-sm-3">
        <div class="title mid">
          <p>Home Team VS Away Team</p>
          <p>Time __ Date</p>
          <button type="button" class="btn btn-danger" name="button">Not Confirmed</button>
        </div>
      </div>


      <div class="tablet col-sm-3">
        <div class="title mid">
          <p>Home Team VS Away Team</p>
          <p>Time __ Date</p>
          <button type="button" class="btn btn-danger" name="button">Not Confirmed</button>
        </div>
      </div>



      <div class="tablet col-sm-3">
        <div class="title mid">
          <p>Home Team VS Away Team</p>
          <p>Time __ Date</p>
          <button type="button" class="btn btn-danger" name="button">Not Confirmed</button>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <div id="MatchesByYou" class="hidden">
    <div class="container">

      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<!-- Repeting -->
